<section class="new-post-section">
<div class="new-post-container ">
        <h1 class="bg-black/80 px-3 py-2 text-lg text-whtie">Add a new post</h1>
    <%= form_with model: @post, url: user_posts_path do |form| %>
        <%= form.label :title, class:"font-semibold text-lg px-3 py-1"%>
        <%= form.text_field :title, class: "border border-1 w-[70%]"%><br>
        <div class="text-container">
            <%= form.label :text , class:"font-semibold text-lg px-3 py-1"%>
        <%= form.text_area :text, cols:40, row: 2, class: "border border-1 w-[70%]"%><br>
        </div>
        <div class="flex justify-center my-2">
            <%= form.submit "Submit" , class:"bg-black text-white border-2 w-[150px]  p-1 rounded-md"%>
        </div>
    <% end %>
</div>

</section>