<div class="post-container w-[60%] mx-auto">
    <div class="post-header">
            <span class="font-semibold text-2xl"><%= @post.title%> By <span ><%= @post.author.name%></span></span>
            <ul>
                <li class="font-semibold text-sm">Comments: <%= @post.comment_counter%> </li>
                <li class="font-semibold text-sm">Likes: <%=@post.like_counter%> </li>
            </ul>
    </div>


    <div class="post-body bg-gray-200 border-2 my-5  rounded-md   hover:bg-gray-400">
        <%=@post.text%>
    </div>
        <h4 class="comment-title font-semibold text-lg">Comments: <%=@count %></h4>


    <div class="comment-container border-2 rounded-md">
        <% @post.comments.each do |comment| %>
            <span class="py-1 px-3 font-semibold "><%= comment.author.name%>: <span class="font-normal"><%= comment.text%></span></span>
        <% end %>
    </div>

    <div class="like-comment-container">
            <%= form_with model: @like, url:user_post_likes_path(post_id: @post.id) do |l| %>
                <%= l.submit  "Like", class:"bg-black text-white/80 border-2 px-3 py-1 rounded-md new-post-btn hover:text-white hover:font-semibold"%>
            <% end %>
            <%= link_to "Add a comment", new_user_post_comment_path(user_id: @post.author.id, post_id: @post.id), class: 'bg-black text-white/80 border-2 px-3 py-1 rounded-md new-post-btn hover:text-white hover:font-semibold' %>
    </div>
</div>